
<!--About-Section-Start-->
<section id="about">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="heading">
          <h2>ABOUT <span>US</span></h2>
          <div class="line"></div>
          <p>
            <!-- <span><strong>L</strong></span> -->
            To discover is to see, find, or become aware of something for the first time. For that matter we bring Ghanaian youth together as a group, family and community to be nurtured on the most emerging Technology in the world Today.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ab-sec">
          <div class="col-md-6">
            <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>W</span>e Are Creative And Awesome</h3>
            <p>
              <!-- <span><strong>L</strong></span> -->
              Anyone with a potential and is interested in Technology is welcome.
              Trust me! This is a place for you. You get to join a family concerned with bringing out the best in you.
              <br>
              The important lessons and activities offered by this movement are spectacular and worth every bit of your time.
              <br>
              It’s an entire package for the future. Our main aim is to plug Ghana into the technology world. Together with experts in the technological field, we bring out fully nurtured talents and make dreams become a reality which will make
              a difference in the world to come. 
              <br><br>
              Be prepared to be amazed at the warm welcome and exciting activities and projects taken up in this movement.
            </p>
          </div>
          <div class="col-md-6 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img src="{{ url_for('static', filename='images/Aboutus/01.jpg') }}" alt=""> </div>
        </div>
      </div>
    </div>
  </section>
  