<!--Features-Section-Start-->
<section id="features">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="heading">
          <h2>DETAILED SHOW-<span>UP</span></h2>
          <div class="line"></div>
          <p>
            The tabs below explains it better
          </p>
        </div>
      </div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab-1" role="tab" data-toggle="tab"><i class="fa fa-globe"></i></a></li>
        <li role="presentation"><a href="#tab-2" role="tab" data-toggle="tab"><i class="fa fa-laptop"></i></a></li>
        <li role="presentation"><a href="#tab-3" role="tab" data-toggle="tab"><i class="fa fa-car"></i></a></li>
        <li role="presentation"><a href="#tab-4" role="tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active feat-sec" id="tab-1">
          <div class="col-md-6 tab">
            <h5>Web Development</h5>
            <div class="line"></div>
            <div class="clearfix"></div>
            <p class="feat-sec">
              The internet has become a central part of our daily lives, with an increasing number of businesses operating online. As a result, the demand for web developers is growing, and businesses require skilled web developers to build and maintain their websites.
              <br><br>
              Web development is a critical component of digital marketing. An engaging and user-friendly website can help businesses to attract and retain customers, increasing sales and conversions.
              <br><br>
              The rise of e-commerce and online shopping has made web development even more critical. E-commerce websites require high-quality, responsive, and user-friendly designs to attract customers and make the shopping experience enjoyable.
              <br><br>
              Web development is a lucrative career path, with high demand for skilled developers. According to some reports, the web development industry is expected to grow by 13% from 2018 to 2028, creating many job opportunities.
              <br>
            </p>
          </div>
          <div class="col-md-6 tab-img"><img src="{{ url_for('static', filename='images/Features/01.jpg') }}" class="img-responsive" alt=""></div>
        </div>
        <div role="tabpanel" class="tab-pane fade feat-sec" id="tab-2">
          <div class="col-md-6 tab">
            <h5>Graphic Design</h5>
            <div class="line"></div>
            <div class="clearfix"></div>
            <p class="feat-sec">
              The rise of the digital era has led to an increase in visual communication. As a result, companies and businesses require skilled graphic designers to create engaging and visually appealing designs for websites, social media, advertisements, and branding purposes.
              <br><br>
              It is crucial in helping businesses stand out from their competitors. A well-designed logo or branding can make a significant impact on a business's brand identity and can help to create a lasting impression on the target audience.
              <br><br>
              Graphic design has become an integral part of marketing. It plays a crucial role in creating marketing materials, such as flyers, posters, and brochures. Effective graphic design can help to convey a message and increase sales and conversions.
              <br>
            </p>
            
          </div>
          <div class="col-md-6 tab-img"><img src="{{ url_for('static', filename='images/Features/02.jpg') }}" class="img-responsive" alt=""></div>
        </div>
        <div role="tabpanel" class="tab-pane fade feat-sec" id="tab-3">
          <div class="col-md-6 tab">
            <h5>Robotics</h5>
            <div class="line"></div>
            <div class="clearfix"></div>
            <p class="feat-sec">
              Robotics is an interdisciplinary field that involves the design, construction, and operation of robots. In recent years, robotics has become increasingly important due to its potential to revolutionize various industries and improve human lives in numerous ways.
              <br>
            </p>
            <p class="feat-sec-1">
              Robotics can improve efficiency and productivity in various industries. Robots can perform repetitive and dangerous tasks with precision and accuracy, reducing the risk of human error and injury. This is especially important in manufacturing, where robots can work around the clock and complete tasks at a much faster pace than humans. In healthcare, robots can assist with surgeries and provide care for patients, reducing the workload on healthcare professionals and improving patient outcomes.
            </p>
          </div>
          <div class="col-md-6 tab-img"><img src="{{ url_for('static', filename='images/Features/rbt1.png') }}" class="img-responsive" alt=""></div>
        </div>
        <div role="tabpanel" class="tab-pane fade feat-sec" id="tab-4">
          <div class="col-md-6 tab">
            <h5>Internet Of Things</h5>
            <div class="line"></div>
            <div class="clearfix"></div>
            <p class="feat-sec">
              The Internet of Things (IoT) refers to the interconnectedness of physical devices, objects, and systems that are embedded with sensors, software, and network connectivity, enabling them to collect and exchange data.
              <br>
            </p>
            <p class="feat-sec-1">
              IoT can improve efficiency and productivity in various industries. By connecting devices and systems, IoT enables real-time monitoring and data analysis, which can optimize processes and reduce waste. For example, in manufacturing, IoT can enable predictive maintenance and inventory management, leading to reduced downtime and cost savings. In agriculture, IoT can help farmers monitor crops and weather conditions, enabling more efficient use of resources and improved crop yields.
              <br>
          </div>
          <div class="col-md-6 tab-img"><img src="{{ url_for('static', filename='images/Features/04.jpg') }}" class="img-responsive" alt=""></div>
        </div>
        <div role="tabpanel" class="tab-pane fade feat-sec" id="tab-5">
          <div class="col-md-6 tab">
            <h5>Creative Gallery</h5>
            <div class="line"></div>
            <div class="clearfix"></div>
            <p class="feat-sec">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing<br>
            </p>
            <p class="feat-sec-1">Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound </p>
          </div>
          <div class="col-md-6 tab-img"><img src="{{ url_for('static', filename='images/Features/05.jpg') }}" class="img-responsive" alt=""></div>
        </div>
      </div>
    </div>
  </section>
  