
<footer id="footer">
    <div class="bg-sec">
      <div class="container">
        <h2>WE ARE GLAD TO <strong>HEAR </strong>FROM YOU!</h2>
      </div>
    </div>
  </footer>
  <footer id="footer-down">
    <h2>Follow Us On</h2>
    <ul class="social-icon">
      <li class="facebook hvr-pulse"><a href="#"><i class="fa fa-facebook-f soc"></i></a></li>
      <li class="twitter hvr-pulse"><a href="#"><i class="fa fa-twitter soc"></i></a></li>
      <li class="google-plus hvr-pulse"><a href="#"><i class="fa fa-google-plus soc"></i></a></li>
      <li class="youtube hvr-pulse"><a href="#"><i class="fa fa-youtube soc"></i></a></li>
      <li class="instagram hvr-pulse"><a href="#"><i class="fa fa-instagram soc"></i></a></li>
    </ul>
    <p> &copy; Copyright - Created By : <a href="" target="_blank">Adam A. Rafik</a> </p>
  </footer>
  <!--Jquery-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <!--Boostrap-Jquery-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <!--Preetyphoto-Jquery-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
  <!--NiceScroll-Jquery-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
  <!--Isotopes-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.isotope.js') }}"></script>
  <!--Wow-Jquery-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/wow.js') }}"></script>
  <!--Count-Jquey-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.countTo.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.inview.min.js') }}"></script>
  <!--Owl-Crousels-Jqury-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
  <!--Main-Scripts-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
  </html>
  
  <!-- Hosting24 Analytics Code -->
  <script type="text/javascript" src="http://stats.hosting24.com/count.php"></script>
  <!-- End Of Analytics Code -->
  </html>