<!--Service-Section-Start-->
<section id="service">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="heading">
          <h2>WHAT WE <span>DO</span></h2>
          <div class="line"></div>
          <p>
            It’s an entire package for the future. Our main aim is to plug Ghana into the technological world. Together with experts in the technological field, we bring out fully nurtured talents and make dreams become a reality which will make
            a difference in the world to come.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="features-sec">
          <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="pull-left"> <i class="fa fa-globe"></i> </div>
              <div class="media-body">
                <h5 class="media-heading">Web Devs.</h5>
                <p>
                  Web Development is believed and will continue to be one of the most demanding Jobs in the Tech Market with the recent digitalization of busssinesses.
                </p>
              </div>
            </div>
          </div>
          <!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
            <div class="media service-box">
              <div class="pull-left"> <i class="fa fa-laptop"></i> </div>
              <div class="media-body">
                <h5 class="media-heading">Graphics Design</h5>
                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
              </div>
            </div>
          </div>
          <!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
            <div class="media service-box">
              <div class="pull-left"> <i class="fa fa-car"></i> </div>
              <div class="media-body">
                <h5 class="media-heading">Robotics</h5>
                <p>
                  Automation is actually "robotics", and you would find many robotic machines in factories. So knowing robotics would prepare the youth for Ghana's industrialization.
                </p>
              </div>
            </div>
          </div>
          <!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
            <div class="media service-box">
              <div class="pull-left"> <i class="fa fa-home"></i> </div>
              <div class="media-body">
                <h5 class="media-heading">IoT</h5>
                <p>
                  The Internet of Things (IoT) is a growing field that offers many job opportunities and benefits for individuals interested in technology and innovation. 
                </p>
              </div>
            </div>
          </div>
          <!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
            <div class="media service-box">
              <div class="pull-left"> <i class="fa fa-android"></i> </div>
              <div class="media-body">
                <h5 class="media-heading">App Development</h5>
                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
              </div>
            </div>
          </div>
          <!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
            <div class="media service-box">
              <div class="pull-left"> <i class="fa fa-line-chart"></i> </div>
              <div class="media-body">
                <h5 class="media-heading">Clean Energy</h5>
                <p>
                  We teach how to collect useful energy from renewable resources like Hydro_Electric power, Solar Energy, Ocean Waves and Wind etc.
                </p>
              </div>
            </div>
          </div>
          <!--/.col-md-4-->
        </div>
      </div>
    </div>
  </section>
  