<!--Portfolio-Section-Start-->
<section id="portfolio">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="heading">
          <h2>WHAT WE <span>USE</span></h2>
          <div class="line"></div>
          <p>
            Below are the list of Technologies we use in the various Features we RUN
          </p>
        </div>
      </div>
      <div class="text-center">
        <ul class="portfolio-filter">
          <li><a class="active" href="#" data-filter=".programing">Coding</a></li>
          <li><a href="#" data-filter=".graphics">UI</a></li>
          <li><a href="#" data-filter=".robotics">Robotics</a></li>
          <li><a href="#" data-filter=".iot">IoT</a></li>
        </ul>
        <!--/#portfolio-filter-->
      </div>
      <div class="portfolio-items">
        <!-- PROGRAMING SECTION -->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item programing">
          <div class="portfolio-item-inner"> <img class="img-responsive" src="{{ url_for('static', filename='images/Portfolio/code.jpg') }}" alt="">
            <div class="portfolio-info"> <a class="preview" href="{{ url_for('static', filename='images/Portfolio/code.jpg') }}" data-rel="prettyPhoto"><i class="fa fa-eye fa-2x"></i></a>
              
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item programing">
          <div class="portfolio-item-inner"> <img class="img-responsive" src="{{ url_for('static', filename='images/Portfolio/prog2.jpeg') }}" alt="">
            <div class="portfolio-info"> <a class="preview" href="{{ url_for('static', filename='images/Portfolio/prog2.jpeg') }}" data-rel="prettyPhoto"><i class="fa fa-eye fa-2x"></i></a>
              
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        
        <!-- GRAPHICS DESIGN SECTION -->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item graphics">
          <div class="portfolio-item-inner"> <img class="img-responsive" src="{{ url_for('static', filename='images/Portfolio/graphics1.png') }}" alt="">
            <div class="portfolio-info"> <a class="preview" href="{{ url_for('static', filename='images/Portfolio/graphics1.png') }}" data-rel="prettyPhoto"><i class="fa fa-eye fa-2x"></i></a>
              
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
  
        <!-- ROBOTICS SECTION -->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item robotics">
          <div class="portfolio-item-inner"> <img class="img-responsive" src="{{ url_for('static', filename='images/Portfolio/microbit1.png') }}" alt="">
            <div class="portfolio-info"> <a class="preview" href="{{ url_for('static', filename='images/Portfolio/microbit1.png') }}" data-rel="prettyPhoto"><i class="fa fa-eye fa-2x"></i></a>
              
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item robotics">
          <div class="portfolio-item-inner"> <img class="img-responsive" src="{{ url_for('static', filename='images/Portfolio/microbit2.png') }}" alt="">
            <div class="portfolio-info"> <a class="preview" href="{{ url_for('static', filename='images/Portfolio/microbit2.png') }}" data-rel="prettyPhoto"><i class="fa fa-eye fa-2x"></i></a>
              
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item robotics">
          <div class="portfolio-item-inner"> <img class="img-responsive" src="{{ url_for('static', filename='images/Portfolio/rbt1.png') }}" alt="">
            <div class="portfolio-info"> <a class="preview" href="{{ url_for('static', filename='images/Portfolio/rbt1.png') }}" data-rel="prettyPhoto"><i class="fa fa-eye fa-2x"></i></a>
              
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item robotics">
          <div class="portfolio-item-inner"> <img class="img-responsive" src="{{ url_for('static', filename='images/Portfolio/rbt2.png') }}" alt="">
            <div class="portfolio-info"> <a class="preview" href="{{ url_for('static', filename='images/Portfolio/rbt2.png') }}" data-rel="prettyPhoto"><i class="fa fa-eye fa-2x"></i></a>
              
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        
        <!-- IoT SECTION -->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item iot">
          <div class="portfolio-item-inner"> <img class="img-responsive" src="{{ url_for('static', filename='images/Portfolio/iot.jpg') }}" alt="">
            <div class="portfolio-info"> <a class="preview" href="{{ url_for('static', filename='images/Portfolio/iot.jpg') }}" data-rel="prettyPhoto"><i class="fa fa-eye fa-2x"></i></a>
              
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item iot">
          <div class="portfolio-item-inner"> <img class="img-responsive" src="{{ url_for('static', filename='images/Portfolio/iotkit.png') }}" alt="">
            <div class="portfolio-info"> <a class="preview" href="{{ url_for('static', filename='images/Portfolio/iotkit.png') }}" data-rel="prettyPhoto"><i class="fa fa-eye fa-2x"></i></a>
              
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        
      </div>
    </div>
  </section>
  