
<!--Sponsors-Section-Start-->
<div id="client">
    <div class="container">
      <h2>OUR SPONS<span>ORS</span></h2>
      <div class="line"></div>
      <div id="client-slider" class="owl-carousel">
        <div class="item client-logo"> <a href="#">
          <!-- <img src="{{ url_for('static', filename='images/clients/7.png') }}" class="img-responsive" alt=""/></a>  -->
          <div class="sponsor-person">
            <p>Dr. Hindson</p>
          </div>
        </div>
      </div>
    </div>
</div>